body {
  padding: 0;
}

#list {
  border: 1px solid black;
}

.awesome {
  margin: auto;
  width: 50%;
  padding: 10px;
  
}

.title{
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.links{
  display: flex;
  margin-left: 20px;
}

.ul-links {
  list-style: none;
  display: flex;
  margin-right: 5px;
}

